# Pakiety

In [ ]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn.datasets import load_boston
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import warnings
#warnings.filterwarnings('ignore')
np.random.seed(23)

# Zbiór danych nt. butów męskich
## naszym celem jest przewidzenie ceny - prices_amountmin

In [6]:
# wczytujemy dane 
shoes_df = pd.read_csv('menshoes.csv')

# w tym momencie następuje odruch bezwarunkowy
shoes_df.head()

# jakie wnioski?
# @conclusions

C:\Users\Patryk\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (29) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,asins,brand,categories,colors,count,dateadded,dateupdated,descriptions,dimension,...,prices_warranty,quantities,reviews,sizes,skus,sourceurls,upc,vin,websiteids,weight
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.993020e+11,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.993020e+11,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN

In [7]:
#  Korzystając z przyjaciół przyjrzyjmy się bliżej
shoes_df.info()
# @conclusions

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18280 entries, 0 to 18279
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   18280 non-null  object
 1   asins                2161 non-null   object
 2   brand                18263 non-null  object
 3   categories           18280 non-null  object
 4   colors               10344 non-null  object
 5   count                0 non-null      float64
 6   dateadded            18280 non-null  object
 7   dateupdated          18280 non-null  object
 8   descriptions         9704 non-null   object
 9   dimension            2968 non-null   object
 10  ean                  9690 non-null   float64
 11  features             13299 non-null  object
 12  flavors              0 non-null      float64
 13  imageurls            17255 non-null  object
 14  isbn                 0 non-null      float64
 15  keys                 18280 non-null  object
 16  manufacturer         6296 non-null   object
 17  manufacturernumber   14309 non-null  object
 18  merchants            13018 non-null  object
 19  name                 18280 non-null  object
 20  prices_amountmin     18280 non-null  float64
 21  prices_amountmax     18280 non-null  float64
 22  prices_availability  114 non-null    object
 23  prices_color         558 non-null    object
 24  prices_condition     11675 non-null  object
 25  prices_count         0 non-null      float64
 26  prices_currency      18280 non-null  object
 27  prices_dateadded     18280 non-null  object
 28  prices_dateseen      18280 non-null  object
 29  prices_flavor        1 non-null      object
 30  prices_issale        18280 non-null  bool
 31  prices_merchant      13160 non-null  object
 32  prices_offer         5874 non-null   object
 33  prices_returnpolicy  798 non-null    object
 34  prices_shipping      4906 non-null   object
 35  prices_size          486 non-null    object
 36  prices_source        0 non-null      float64
 37  prices_sourceurls    18265 non-null  object
 38  prices_warranty      42 non-null     object
 39  quantities           0 non-null      float64
 40  reviews              1592 non-null   object
 41  sizes                5920 non-null   object
 42  skus                 8120 non-null   object
 43  sourceurls           18246 non-null  object
 44  upc                  10488 non-null  float64
 45  vin                  0 non-null      float64
 46  websiteids           0 non-null      float64
 47  weight               570 non-null    object
dtypes: bool(1), float64(12), object(35)
memory usage: 6.6+ MB

In [ ]:
threshold = shoes_df.shape[0] * 0.7
shoes_df_drop = shoes_df.loc[:, shoes_df.apply(lambda x: x.isna().sum(), axis=0) < threshold]
shoes_df_drop.head(10)

które kolumny jeszcze wydają się niepotrzebne?  
które kolumny trzeba przekształcić?

In [ ]:
# @conclusions

In [ ]:
# popatrzmy na kolory butów
shoes_df_drop['colors'].value_counts()

# jakie jest ograniczenie metody .value_counts()?
# @conclusion

In [ ]:
# wartości NA
pd.DataFrame(shoes_df_drop['colors']).info()

jest sporo braków  
pomówimy jak z tym żyć za chwilę  
najpierw wizualizacja  
jakieś pomysły na wizualizację zmienna ciągła vs. kategoryczna?

In [ ]:
Black_Brown = shoes_df_drop.loc[shoes_df_drop['colors'].isin(['Black', 'Brown'])]
violin_plot = sns.violinplot(Black_Brown['colors'], Black_Brown['prices_amountmin'])
violin_plot.set_title('Rozkład ceny względem koloru butów')
plt.show()

In [ ]:
popular_colors=shoes_df_drop.loc[shoes_df_drop['colors'].isin(shoes_df_drop['colors'].value_counts().index[:5])]
mean_price_popular_colors=popular_colors.groupby('colors')['prices_amountmin'].mean()
mean_price_popular_colors.plot(kind='bar', title='Średnia cena')
plt.
plt.show()

# Imputacja zmiennych kategorycznych

kolumna colors miała dużo nieuzupełnionych wartości  
jak można je uzupełnić?

In [ ]:
# możnaby najczęściej występującym kolorem, ale czy to nie wprowadza fałszywej informacji?
# lepsze podejście - nowa klasa 'Other'
shoes_df_drop['colors'].fillna('Missing_color')  #działa

In [ ]:
# czy można lepiej?
# można!
shoes_df_drop['missing' + 'colors'] = shoes_df_drop['colors'].isna()*1
shoes_df_drop['colors'].fillna('Missing_color', inplace=True)

# po co ta informacja, skoro w kolumnie już jest napisane, że to brakujący kolor?
# @conclusion

### Uwaga, to co jest wyżej to wcale nie jest prawda  
### przekonamy się o tym przy one hot encoding

# Imputacja zmiennych ciągłych

In [ ]:
# w naszym zbiorze nie ma nic do imputacji ciągłej
# zerknijmy na szutczny zbiór
fake_data=pd.DataFrame({'num':np.random.choice([None, 3,4], 100), 
                        'cat': np.random.choice([None, 'Puma','Nike','Adidas'], 100, p=[0.92, 0.03, 0.03, 0.02])})
fake_data.head()

In [ ]:
# średnia czy mediana?
fake_data.num.fillna(fake_data.num.median(), inplace=True) #fake_data.num.mean()
fake_data.info()

# Outliery

In [ ]:
# dane jedynie z przedziału (średnia +- 3 sigma) - ma to sens gdy rozkład normalny
data=pd.DataFrame({'num':np.random.normal(2,0.4,1000)})
factor = 3
upper_lim = data['num'].mean () + data['num'].std () * factor
lower_lim = data['num'].mean () - data['num'].std () * factor

data = data[(data['num'] < upper_lim) & (data['num'] > lower_lim)]
data.shape

In [ ]:
# usuwanie na podstawie skrajnych percentyli
# to już zadziała "dobrze" dla każdego rozkładu
# załadujmy nasz ulubiony Boston
boston_dict = load_boston()
boston_df = pd.DataFrame(boston_dict['data'], columns=boston_dict['feature_names'])

dis_data = boston_df['DIS']
print('Wejściowy rozmiar: ', dis_data.shape[0])

upper_lim = dis_data.quantile(.95)
lower_lim = dis_data.quantile(.05)

data_percentile = dis_data[(dis_data < upper_lim) & (dis_data > lower_lim)]
print('Wyjściowy rozmiar: ', data_percentile.shape[0])
print('Pozostało %: ', round(data_percentile.shape[0]/dis_data.shape[0], 2))

# co tu jest nie halo?
# @conclusion

In [ ]:
# to może boxplot?
# faktycznie, dołu nie powinniśmy obcinać
# ale na górze są outliery!
plot_box = sns.boxplot(boston_df['DIS'])
plot_box.set_title('Rozkład zmiennej DIS')
plt.show()

In [ ]:
# nope
# ten rozkład taki jest, nie można go za to winić
# tu nie ma outlierów
plot_dens=sns.histplot(boston_df['DIS'])
plot_dens.set_title('Rozkład zmiennej DIS')
plt.show()

#  Grouping & Binning
### Agregujemy klasy do wyższego poziomu lub tniemy zmienną ciągłą na klasy

czasami potrzebujemy zrobić ze zmiennej ciągłej kategoryczną  
albo mamy zmienną kategoryczną o bardzo dużej liczbie klas  
albo dużo klas mało licznych

In [ ]:
# zobaczmy jak wygląda kolumna brand 
shoes_df_drop['brand'].value_counts()
# co można z tym zrobić?
# @conclusions

In [ ]:
# jest aż 560 marek, które występują raz
shoes_df_drop['brand'].value_counts()[shoes_df_drop['brand'].value_counts() == 1].shape[0]

# czyli grupujemy w kategorię Other?
# @conclusion

In [ ]:
# przyjrzyjmy się bliżej
brands = shoes_df_drop[['brand']].groupby(['brand']).size().sort_values(ascending=False).reset_index()
brands.columns = ['brand', 'count']
brands.loc[brands['brand'].apply(lambda x:'nike' in x.lower())]

może warto najpierw zgrupować Najacze a potem dopiero Others?  
Nike i NIKE to na pewno to samo, ale może NIKE - Kobe to dość niszowe obuwie i warto, żeby było Others?  
to samodzielna decyzja

In [ ]:
nike_synonyms = brands.loc[brands['brand'].apply(lambda x:'nike' in x.lower()), 'brand'].values

small_classes = shoes_df_drop['brand'].value_counts()[shoes_df_drop['brand'].value_counts() == 1].index

shoes_df_drop['brands' + '_processed'] = np.where(shoes_df_drop['brand'].isin(nike_synonyms), 'nike', 
                                              np.where(shoes_df_drop['brand'].isin(small_classes), 'Other', shoes_df_drop['brand']))

shoes_df_drop['brands' + '_processed'].value_counts()

In [ ]:
# można to zrobić też przy pomocy słownika
geo=np.random.choice(("Poland",'Chile', 'France', 'Spain'), 100)
geo=pd.Series(geo)
geo

In [ ]:
dict_geo={'Poland': "Europe", "Chile":"South America", "France":"Europe"}
from collections import defaultdict
countries_list = [('Poland','Europe'), ('France','Europe'), ('Chile','South America')]
geo.map(dict_geo)

In [ ]:
# metoda z użyciem dict/defaultdict
countries_dict = defaultdict(lambda:'Other')
for continent, country in countries_list:
     countries_dict[continent]=country
geo.map(countries_dict)

In [ ]:
# naszym celem było przewidywanie cen butów
# ale może wystarczy jeśli przewidzimy to bardziej z grubsza? Tanie, średnie, drogie
prices_hist = sns.histplot(shoes_df_drop['prices_amountmin'])
prices_hist.set_title('Rozkład cen butów')
plt.show()

In [ ]:
pd.cut(shoes_df_drop['prices_amountmin'], bins=[0, 100, 200, 250], labels=['cheap', 'affordable', 'expensive'])[17:]

In [ ]:
cutted = pd.cut(shoes_df_drop['prices_amountmin'], bins=[0, 100, 200, np.inf], labels=['cheap', 'affordable', 'expensive'])
cutted[18:]

In [ ]:
# zawsze warto sprawdzić
cutted[cutted.isna()]

In [ ]:
# i spróbować zrozumieć dlaczego
shoes_df_drop.loc[4176, 'prices_amountmin']

# Dla przypomnienia - Log Transform

In [ ]:
dis_dist = sns.distplot(boston_df['DIS'])
dis_dist.set_title('Rozkład zmiennej DIS')
plt.show()

In [ ]:
dis_log_dist = sns.distplot(np.log1p(boston_df['DIS']))
dis_log_dist.set_title('Rozkład logarytmu zmiennej DIS')
plt.show()
# nie jest idealnie, ale na pewno mniej skośnie \:)

# Categorical variables encoding
### algorytmy często nie lubią zmiennych kategorycznych

In [9]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

data = ['cold', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = np.array(data)

# integer encode
le = LabelEncoder()
integer_encoded = le.fit_transform(values)
print(integer_encoded)

[0 0 2 0 1 1 2 0 2 1]

Warto zauważyć, że to ma sens, tylko dla zmiennych, które reprezentują jakieś poziomy/kolejność

In [10]:
# uwaga! 
# nie panujemy nad kolejnością -> check OrdinalEncoder
data = ['hot', 'cold', 'warm', 'cold', 'hot', 'hot', 'warm', 'cold', 'warm', 'hot']
values = np.array(data)
le = LabelEncoder()
integer_encoded = le.fit_transform(values)
print(integer_encoded)

[1 0 2 0 1 1 2 0 2 1]

In [11]:
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)

[[0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 1. 0.]]

In [ ]:
# przykład z naszych danych
# kolumna categories wyglądała obiecująco
shoes_df_drop.head()

In [ ]:
shoes_df_drop['categories'].value_counts()

In [ ]:
# podrążmy temat
categories = {}
def split_and_count(x, categories):
    cat_list = x.split(',')
    for cat in cat_list:
        categories.setdefault(cat, 0)
        categories[cat] += 1
    return categories

for row in shoes_df_drop['categories'].iteritems():
    split_and_count(row[1], categories)
categories_df = pd.DataFrame.from_dict(categories, orient='index').reset_index()
categories_df.columns = ['category', 'count']
categories_df.sort_values(by='count', ascending=False).head(20)

# kategorie typu athletic, *sport, *outwear mogą się nadawać na one-hot

# Scaling
- min-max scaling
- standarization

niektóre algorytmy nie lubią dużych skal zmiennych - regresja liniowa z poprzednich zajęć   
jakiś parametr musi "obsłużyć" bardzo małe i bardzo duże liczby  
inne potrzebują mieć zmienne w konkretnym przedziale

In [ ]:
# min-max scaling
from sklearn.preprocessing import MinMaxScaler
data = np.array([-1, 2, -0.5, 6, 0, 10, 1, 18]).reshape(-1, 1)
mm_scaler = MinMaxScaler()

print(mm_scaler.fit_transform(data))

In [ ]:
# standarization
from sklearn.preprocessing import StandardScaler
data = np.array([-1, 2, -0.5, 6, 0, 10, 1, 18]).reshape(-1, 1)
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
print(scaled_data)
print(np.round(np.mean(scaled_data), 4), np.std(scaled_data))

# Extracting info from date

In [ ]:
from datetime import date

data = pd.DataFrame({'date':
['01-01-2017',
'04-12-2008',
'23-06-1988',
'25-08-1999',
'20-02-1993',
]})

#Transform string to date
data['date'] = pd.to_datetime(data.date, format="%d-%m-%Y")

#Extracting Year
data['year'] = data['date'].dt.year

#Extracting Month
data['month'] = data['date'].dt.month

#Extracting passed years since the date
data['passed_years'] = date.today().year - data['date'].dt.year

#Extracting passed months since the date
data['passed_months'] = (date.today().year - data['date'].dt.year) * 12 + date.today().month - data['date'].dt.month

#Extracting the weekday name of the date
data['day_name'] = data['date'].dt.day_name()

In [ ]:
data

# warto poczytać
pakiet category_encoders:
- https://kiwidamien.github.io/encoding-categorical-variables.html
- https://pbpython.com/categorical-encoding.html

Ciekawa strona z przykładami wizualizacji (wraz z kodem):
    https://www.machinelearningplus.com/plots/top-50-matplotlib-visualizations-the-master-plots-python/